<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        {% block title %}
            <title>Django Hello World</title>
        {% endblock %}
    </head>

    <body>
        {% block menubar %}
        {% endblock %}
        
        {% block content %}
        {% endblock %}

        {% block sidebar %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>